 
 
    
      <div class="modal-header">
        <h5 class="modal-title">Preview</h5>
        <button type="button" class="close" (click)="activeModal.dismiss()"   aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-renderer  [RenderCtlsDet]="PreviewCtlsDet"></app-renderer>    
      </div>
      
 

 