 
    <div class="pad-btm-10" *ngFor="let clr of RenderCtlsDet">
        <ng-container *ngIf="clr.CtrlType=='textbox'">
            <input type="text" class="form-control"  value="{{clr.CtrlName}}">
        </ng-container>
        <ng-container *ngIf="clr.CtrlType=='dropdown'">
            <select class="form-control">
                <option selected>{{clr.CtrlName}}</option>
            </select>
        </ng-container>
          <ng-container *ngIf="clr.CtrlType=='checkbox'">
            <input type="checkbox"    value=""> {{clr.CtrlName}} 
        </ng-container>  
        
    </div>
