<div class="title-txt"> Drag and drop the controls from left to right to create form </div>
 
 
<div appDodragabletarget class="drop-box"  (DoneDrop)="AddCtl($event)">


    <div class="draggable-box" *ngFor="let ctrls of CtlsDet ; let i = index;">
       
        <span> {{ctrls.CtrlName}} </span>
        <span class="cls"  (click)="Delete(i)">x</span>

    </div>
</div> 
