<div class="left-aside">
     <div class="title-txt">Controls</div> 
     <button [appDodragable]="'textbox'"  class="btn btn-default"> Textbox </button>  
     <button [appDodragable]="'dropdown'"  class="btn btn-default"> Dropdown </button>
     <button [appDodragable]="'checkbox'"  class="btn btn-default"> Checkbox </button>  

</div>