.header-wrapper{
    padding: 10px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
    height: 52px;
  }
 .left-aside .btn-default{
    border: solid 1px #ccc; 
    width: 100%;
    margin-bottom: 1rem; 
    background: whitesmoke;
  }
  .left-aside {
    border-right: solid 1px #ccc; 
    height: 100vh;
    padding-right: 1rem;
     
  }
  .title-txt{
      margin-bottom: 24px;
      font-size: 18px;
      color: #333;
  }
  .drop-box{
    border: #ccc 2px dashed;
    padding: 15px;
    height: auto;
    min-height: 200px;
  }
  .draggable-box{
    border: solid 1px #ccc;
    
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   .draggable-box:last-child{
   margin-bottom: 0px;
   } 
   .cls{
     color:#000;
     cursor: pointer;
   }
   .modal-body{
    overflow: auto;
    max-height: 300px;
   }
   .modal-header .close{
       border:0px;
       outline: none;
   }
   .modal-header h5 {
    font-size: 18px;
    color: #333;
    font-weight: normal;
   }
.preview-btn{
  float: right; cursor: pointer;
}
.pad-btm-10{
  padding-bottom: 10px;
}