
<div> 
<div class="header-wrapper col-md-12">
    <span>Angular Machine test B </span>
    <button *ngIf="CtrlDetList.length>0" class="btn btn-sm btn-primary preview-btn"  (click)="OpenPreview()">Preview</button>
   
</div>
</div> 


<div class="container"> 
<div class="row">
<div class="col-lg-2">

    <app-controls></app-controls>
</div>

<div class="col-lg-10">
    <app-assembler [CtlsDet]="CtrlDetList" ></app-assembler>
</div> 
</div>
</div>